body {
    color: #999;
}

.game {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    margin: auto;
}

.table {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    margin: auto;
}

.table__section {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    margin: auto;
    background-size: cover; 
    background-position: center;
}

.table__section__image {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    margin: auto;
    background-image: url("../images/goblin.png");
    background-size: cover; 
    background-position: center;
}

.cursor {
    height: 10%;
    width: 10%;
    background-image: url("../images/hammer.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
}

.cursor__press {
    height: 10%;
    width: 10%;
    background-image: url("../images/hammer__press.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    position: absolute;
    pointer-events: none;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}